cumm_cu111==0.2.9
cumm_cu113==0.4.11
easydict==1.13
fire==0.7.0
kornia==0.8.1
matplotlib==3.6.3
numba==0.56.4
numpy==1.19.5
opencv_python==4.11.0.86
pcl==0.0.0.post1
Pillow==11.3.0
prefetch_generator==1.0.3
PyYAML==6.0.2
PyYAML==6.0.2
scikit_image==0.19.2
scipy==1.16.1
setuptools==75.8.0
spconv_cu111==2.1.25
spconv_cu113==2.3.6
tensorboardX==2.6
tensorboardX==2.6.4
torch==1.8.1+cu111
tqdm==4.67.1
vedo==2025.5.4
vtk==9.5.0
